# 说明：
# 当前项目默认从 src/utils/constant.js 读取配置。
# 本文件用于后续改造成环境变量方案时参考。

VUE_APP_WEB_URL=https://blog.inter-trade.top
VUE_APP_API_BASE_URL=https://blog.inter-trade.top/api
VUE_APP_QUOTE_HITOKOTO=https://blog.inter-trade.top/api/quote/hitokoto/
VUE_APP_QUOTE_SOCIAL=https://blog.inter-trade.top/api/quote/social/

