:root {
  --bossAvatar: url(../../../public/title.jpg);
  --defaultAvatar: url(../file/avatar.jpg);
  --admireImage: url(https://picsum.photos/200/200?random=7);
  --comment1URL: url(../file/comment1.png);
  --comment2URL: url(../file/comment2.png);
  --springBg: url(https://picsum.photos/1920/1080?random=8);
  --toTop: url(../file/top.jpg);
  --verifyImage: url(https://picsum.photos/1920/1080?random=9);
  --toolbar: url(../file/bg.jpg);
  --love: url(https://picsum.photos/1920/1080?random=10);
}
